@model TNClubs.Models.GroupMember

@{
    ViewData["Title"] = $"Delete {ViewBag.fullName}";
}

<h1>Delete @ViewBag.fullName</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GroupMember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistIdGroupNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistIdGroupNavigation.ArtistId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistIdMemberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistIdMemberNavigation.ArtistId)
        </dd class>
    </dl>
    
    <form asp-action="Delete" asp-route-memeber ="">
        <input type="hidden" asp-for="ArtistIdGroup" />
        <input type="hidden" asp-for="ArtistIdMember" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
