@model TNClubs.Models.GroupMember

@{
    ViewData["Title"] = $"Details for {ViewBag.FullName}";
}

<h1>Details for @ViewBag.fullName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @{

                string sDateJoined = "";
                if (Model.DateJoined != null)
                {
                    DateTime dateJoined = (DateTime)Model.DateJoined;
                    sDateJoined = dateJoined.ToString("dd MMM yyyy");
                }
            }
            @sDateJoined
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLeft)
        </dt>
        <dd class="col-sm-10">
            @{

                string sDateLeft ="";
                if(Model.DateLeft != null)
                {
                    DateTime dateLeft = (DateTime)Model.DateLeft;
                    sDateLeft = dateLeft.ToString("dd MMM yyyy");
                }
            }
            @sDateLeft

        </dd>
        <dt class = "col-sm-2">
            Group
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.groupName
        </dd>
        <dt class = "col-sm-2">
            Member
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.fullName
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
